
.DS_Store
About/.DS_Store
Defs/.DS_Store
Patches/.DS_Store
Textures/.DS_Store
Textures/Ammo/.DS_Store
Textures/Ammo/Pistol/.DS_Store
Textures/AnestheticGun/.DS_Store
Textures/Ammo/Rifle/.DS_Store
Textures/Projectile/.DS_Store
